@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
.Dashboard {
  display: flex; }
  .Dashboard .left__Sidebar {
    color: white;
    height: 100vh;
    flex: 0.35;
    background: #034377;
    padding: 1rem;
    min-width: 200px;
    max-width: 270px;
    text-align: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black; }
    .Dashboard .left__Sidebar .kotlin__icon {
      color: white;
      padding: 0.5rem;
      border: 4px solid;
      font-size: 6rem;
      border-radius: 12px; }
    .Dashboard .left__Sidebar .navigation__buttons {
      font-weight: 900;
      margin-top: 150px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      gap: 4rem; }
      .Dashboard .left__Sidebar .navigation__buttons button {
        color: #0c3252 !important;
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        font-size: 1.5rem;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.2rem; }
        .Dashboard .left__Sidebar .navigation__buttons button.learn-more {
          font-weight: bold;
          color: #000000;
          text-transform: uppercase;
          padding: 1.25em 2em;
          background: #ffffff;
          border: 2px solid #000000;
          border-radius: 0.75em;
          transform-style: preserve-3d;
          transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1); }
          .Dashboard .left__Sidebar .navigation__buttons button.learn-more::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #4f7ba0;
            border-radius: inherit;
            box-shadow: 0 0 0 2px #000000, 0 0.45em 0 0 #022847;
            transform: translate3d(0, 0.75em, -1em);
            transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1); }
          .Dashboard .left__Sidebar .navigation__buttons button.learn-more:hover {
            background: #cdd9e4;
            transform: translate(0, 0.25em); }
            .Dashboard .left__Sidebar .navigation__buttons button.learn-more:hover::before {
              box-shadow: 0 0 0 2px #000000, 0 0.1em 0 0 #022847;
              transform: translate3d(0, 0.5em, -1em); }
          .Dashboard .left__Sidebar .navigation__buttons button.learn-more:active {
            background: #cdd9e4;
            transform: translate(0em, 0.75em); }
            .Dashboard .left__Sidebar .navigation__buttons button.learn-more:active::before {
              box-shadow: 0 0 0 2px #000000, 0 0 #022847;
              transform: translate3d(0, 0, -1em); }
  .Dashboard .right__Sidebar {
    flex: 1;
    color: white; }
    .Dashboard .right__Sidebar .top__Navbar {
      background: #4f7ba0;
      padding: 2rem;
      border-top: 2px solid black;
      border-right: 2px solid black;
      border-bottom: 2px solid black; }
      .Dashboard .right__Sidebar .top__Navbar h1 {
        letter-spacing: 0.5rem;
        font-weight: 900;
        font-size: 2.5rem; }
