.Dashboard {
  display: flex;
  .left__Sidebar {
    height: 100vh;
    flex: 0.2;
    background: #034377;
    border: 2px solid black;
  }
  .right__Sidebar {
    flex: 1;
    border: 2px solid black;
  }
}
