@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

$bg: rgb(255, 255, 255);
$text: #034377;
$light-pink: #ffffff;
$lblue: #cdd9e4;
$dark-blue: #4f7ba0;
$blue-border: #000000;
$blue-shadow: #022847;

$dm-purple: #bb86fc;
$dm-neon: #3700b3;
$dm-teal: #03dac6;
$dm-bg: black;
$dm-gray: #121212;

.Dashboard {
  display: flex;
  .left__Sidebar {
    color: white;
    height: 100vh;
    flex: 0.35;
    background: #034377;
    padding: 1rem;
    min-width: 200px;
    max-width: 270px;
    text-align: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    .kotlin__icon {
      color: white;
      padding: 0.5rem;
      border: 4px solid;
      font-size: 7rem;
      border-radius: 12px;
    }
    .navigation__buttons {
      font-weight: 900;
      margin-top: 85px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.2rem;
        &.learn-more {
          font-weight: bold;
          color: $text;
          text-transform: uppercase;
          padding: 1.25em 2em;
          background: $bg;
          border: 2px solid $blue-border;
          border-radius: 0.75em;
          transform-style: preserve-3d;
          transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
            background 150ms cubic-bezier(0, 0, 0.58, 1);
          &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $dark-blue;
            border-radius: inherit;
            box-shadow: 0 0 0 2px $blue-border, 0 0.45em 0 0 $blue-shadow;
            transform: translate3d(0, 0.75em, -1em);
            transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
              box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
          }
          &:hover {
            background: $lblue;
            transform: translate(0, 0.25em);
            &::before {
              box-shadow: 0 0 0 2px $blue-border, 0 0.1em 0 0 $blue-shadow;
              transform: translate3d(0, 0.5em, -1em);
            }
          }
          &:active {
            background: $lblue;
            transform: translate(0em, 0.75em);
            &::before {
              box-shadow: 0 0 0 2px $blue-border, 0 0 $blue-shadow;
              transform: translate3d(0, 0, -1em);
            }
          }
        }
      }
    }
  }
  .p__wrapper {
    font-size: 1.2rem;
  }

  .right__Sidebar {
    flex: 1;

    .top__Navbar {
      padding: 2rem;
      border-top: 2px solid black;
      border-right: 2px solid black;
      border-bottom: 2px solid black;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        letter-spacing: 0.5rem;
        font-weight: 900;
        font-size: 2.5rem;
      }
      .Nasa {
        height: 100%;
        width: 9rem;
      }
    }
  }
  .right__Sidebar.light {
    $color: $light-pink;
    $background-color: $dark-blue;
  }
  .right__Sidebar.dark {
    $color: $dm-purple;
    $background-color: $dm-bg;
  }
}

// .middle__content {
//   height: ;
// }
