.Test {
  color: orange;
  .test__component {
    color: orange;
    background-color: palegoldenrod;
    display: flex;
  }
  background-color: orangered;

  display: flex;

  width: 200px;
  height: 200;
}
