.Test {
  color: orange;
  background-color: orangered;
  display: flex;
  width: 200px;
  height: 200; }
  .Test .test__component {
    color: orange;
    background-color: palegoldenrod;
    display: flex; }
