.title {
  text-align: center;
}
.about__Section {
  display: flex;
  padding: 1rem;
  gap: 10px;
  color: black;
  align-items: center;
  justify-content: center;
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .left__Side {
    width: 400px;
    height: 500px;
    background: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px 20px 10px 20px;
    box-shadow: 3px 3px 3px 3px #034377;
  }
  .right__Side {
    width: 600px;
    height: 500px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    .bio__Card {
      background: rgb(255, 255, 255);
      padding: 10px;
      border: 1px solid black;
      text-align: center;
      border-radius: 0 20px 0 20px;
      box-shadow: 3px 3px 4px 4px #034377;
      width: 400px;
    }
  }
}
